asgiref==3.5.2
Django==4.1.2
sqlparse==0.4.3
Pillow==9.3.0
fcm-django==1.0.12
selenium==4.6.1
beautifulsoup4==4.11.1
django-cors-headers==3.13.0
django-filter==22.1
djangorestframework==3.14.0
whitenoise==6.2.0
pytest==7.2.0
chromedriver-autoinstaller==0.4.0
webdriver-manager==3.8.5
shot-scraper>=0.7
celery==5.2.7
redis==4.3.5
drf-yasg==1.21.4

dj-database-url==1.0.0
gunicorn==20.1.0
psycopg2-binary==2.9.5
boto3==1.24.84
