asgiref==3.8.1
Django==4.2.22
Pillow==11.2.1
sqlparse==0.5.3
selenium==4.32.0
beautifulsoup4==4.13.3
django-cors-headers==4.7.0
django-filter==25.1
whitenoise==6.9.0
pytest==8.3.5
chromedriver-autoinstaller==0.6.4
webdriver-manager==4.0.2
celery==5.5.2
redis==5.2.1
drf-yasg==1.21.10
django-environ==0.12.0
requests==2.32.4
