asgiref==3.7.2
Django==4.2.6
sqlparse==0.4.4
Pillow==9.4.0
fcm-django==2.0.0
selenium==4.15.2
beautifulsoup4==4.12.2
django-cors-headers==4.1.0
django-filter==23.2
djangorestframework==3.14.0
whitenoise==6.6.0
pytest==7.4.3
chromedriver-autoinstaller==0.6.3
webdriver-manager==4.0.1
celery==5.3.6
redis==5.0.1
drf-yasg==1.21.7
